<a href="https://colab.research.google.com/github/JerKeller/MP-Ecotaxa/blob/main/importTSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
r_filenameTSV = '/content/ecotaxa_export_6742_20220930_1235.tsv'

In [ ]:
tsv_read = pd.read_csv(r_filenameTSV, sep='\t')

In [ ]:
print(tsv_read)

                 object_id  object_lat  object_lon  object_date  object_time  \
0        n1_220906_tot_1_1        46.5        6.65     20220906       142700
1        n1_220906_tot_1_2        46.5        6.65     20220906       142700
2        n1_220906_tot_1_3        46.5        6.65     20220906       142700
3        n1_220906_tot_1_4        46.5        6.65     20220906       142700
4        n1_220906_tot_1_5        46.5        6.65     20220906       142700
...                    ...         ...         ...          ...          ...
3323  n4_220913_tot_1_1251         NaN         NaN     20220927       114900
3324  n4_220913_tot_1_1252         NaN         NaN     20220927       114900
3325  n4_220913_tot_1_1253         NaN         NaN     20220927       114900
3326  n4_220913_tot_1_1254         NaN         NaN     20220927       114900
3327  n4_220913_tot_1_1255         NaN         NaN     20220927       114900

                           object_link  object_depth_min  object_depth_max  \
0     http://www.zooscan.obs-vlfr.fr//              20.0             100.0
1     http://www.zooscan.obs-vlfr.fr//              20.0             100.0
2     http://www.zooscan.obs-vlfr.fr//              20.0             100.0
3     http://www.zooscan.obs-vlfr.fr//              20.0             100.0
4     http://www.zooscan.obs-vlfr.fr//              20.0             100.0
...                                ...               ...               ...
3323  http://www.zooscan.obs-vlfr.fr//               NaN               NaN
3324  http://www.zooscan.obs-vlfr.fr//               NaN               NaN
3325  http://www.zooscan.obs-vlfr.fr//               NaN               NaN
3326  http://www.zooscan.obs-vlfr.fr//               NaN               NaN
3327  http://www.zooscan.obs-vlfr.fr//               NaN               NaN

     object_annotation_status object_annotation_person_name  ... acq_ysize  \
0                   validated                 Jeremy Keller  ...   49176.0
1                   validated                 Jeremy Keller  ...   49176.0
2                   validated                 Jeremy Keller  ...   49176.0
3                   validated                 Jeremy Keller  ...   49176.0
4                   validated                 Jeremy Keller  ...   49176.0
...                       ...                           ...  ...       ...
3323                validated                 Jeremy Keller  ...       NaN
3324                predicted                           NaN  ...       NaN
3325                validated                 Jeremy Keller  ...       NaN
3326                validated                 Jeremy Keller  ...       NaN
3327                validated                 Jeremy Keller  ...       NaN

      acq_xoffset  acq_yoffset acq_lut_color_balance acq_lut_filter  \
0          4930.0       6180.0                manual             no
1          4930.0       6180.0                manual             no
2          4930.0       6180.0                manual             no
3          4930.0       6180.0                manual             no
4          4930.0       6180.0                manual             no
...           ...          ...                   ...            ...
3323          NaN          NaN                   NaN            NaN
3324          NaN          NaN                   NaN            NaN
3325          NaN          NaN                   NaN            NaN
3326          NaN          NaN                   NaN            NaN
3327          NaN          NaN                   NaN            NaN

      acq_lut_min  acq_lut_max  acq_lut_odrange  acq_lut_ratio  \
0           549.0      45824.0              1.8           1.15
1           549.0      45824.0              1.8           1.15
2           549.0      45824.0              1.8           1.15
3           549.0      45824.0              1.8           1.15
4           549.0      45824.0              1.8           1.15
...           ...          ...              ...            ...
3323          NaN          NaN              NaN            NaN
3324          NaN          NaN              NaN            NaN
3325          NaN          NaN              NaN            NaN
3326          NaN          NaN              NaN            NaN
3327          NaN          NaN              NaN            NaN

      acq_lut_16b_median
0                39847.0
1                39847.0
2                39847.0
3                39847.0
4                39847.0
...                  ...
3323                 NaN
3324                 NaN
3325                 NaN
3326                 NaN
3327                 NaN

[3328 rows x 158 columns]