<a href="https://colab.research.google.com/github/JerKeller/MP-Ecotaxa/blob/main/variability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os
import sys
import subprocess
from plotnine import ggplot, aes, geom_point, geom_line, labs, ggtitle, scale_y_log10
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
ecotaxa_export = '/content/drive/MyDrive/ecotaxa_export.tsv'
tsv_read = pd.read_csv(ecotaxa_export, sep='\t')

In [6]:
# Load data and extract columns needed
sub1 = tsv_read[['object_id', 'object_date', 'object_depth_min', 'object_depth_max', 'object_annotation_category',
                 'object_area', 'object_area_exc', 'object_major', 'object_minor', 'sample_tot_vol', 'process_particle_pixel_size_mm',
                 'acq_id']]

In [7]:
# Modify names of columns
sub1.columns = ['Label', 'Date', 'Min_depth', 'Max_depth', 'Taxa', 'area', 'areaExc', 'major', 'minor',
                'Tow_Vol', 'pixel_size_mm', 'acq_id']

# Remove not living organisms
sub2 = sub1[(sub1['Taxa'] != 'badfocus<artefact') & (sub1['Taxa'] != 'fiber<detritus') & 
            (sub1['Taxa'] != 'multiple<other') & (sub1['Taxa'] != 'detritus') & 
            (sub1['Taxa'] != 'egg sac<egg') & (sub1['Taxa'] != 't001') & 
            (sub1['Taxa'] != 't002') & (sub1['Taxa'] != 't003') & 
            (sub1['Taxa'] != 'othertocheck') & (sub1['Taxa'] != 'artefact') & 
            (sub1['Taxa'] != 'bubble') & (sub1['Taxa'] != 'dead<Copepoda')].copy()

In [23]:
var_data = sub2.loc[(sub2['acq_id'] == 'tot_n21_221221') | (sub2['acq_id'] == 'tot_n22_221221') | 
                (sub2['acq_id'] == 'tot_n23_221221') | (sub2['acq_id'] == 'tot_n24_221221') |
                (sub2['acq_id'] == 'tot_n25_221221') | (sub2['acq_id'] == 'tot_n26_221221') |
                (sub2['acq_id'] == 'tot_n27_221221') | (sub2['acq_id'] == 'tot_n28_221221') |
                (sub2['acq_id'] == 'tot_n29_221221') | (sub2['acq_id'] == 'tot_n40_230209') |
                (sub2['acq_id'] == 'tot_n41_230209') | (sub2['acq_id'] == 'tot_n42_230209')].copy()

In [24]:
# Convert date to datetime format
var_data['Date'] = pd.to_datetime(var_data['Date'], format='%Y%m%d')

Conversions from pixel to mm

In [25]:
var_data['Area_mm2'] = var_data['area'] * ((var_data['pixel_size_mm']) ** 2)
var_data['AreaExc_mm2'] = var_data['areaExc'] * ((var_data['pixel_size_mm']) ** 2)
var_data['Major_mm'] = var_data['major'] * var_data['pixel_size_mm']
var_data['Minor_mm'] = var_data['minor'] * var_data['pixel_size_mm']

In [26]:
var_data['V_mm3'] = (4 / 3) * np.pi * ((var_data['Major_mm'] / 2) * (var_data['Minor_mm'] / 2) * (var_data['Minor_mm'] / 2))

In [42]:
print(var_data)

                      Label       Date  Min_depth  Max_depth  \
8753     n21_221221_tot_1_1 2022-12-21       50.0      100.0
8755     n21_221221_tot_1_3 2022-12-21       50.0      100.0
8756     n21_221221_tot_1_4 2022-12-21       50.0      100.0
8757     n21_221221_tot_1_5 2022-12-21       50.0      100.0
8761     n21_221221_tot_1_9 2022-12-21       50.0      100.0
...                     ...        ...        ...        ...
18204  n42_230209_tot_1_279 2023-02-09        0.0       50.0
18205  n42_230209_tot_1_280 2023-02-09        0.0       50.0
18206  n42_230209_tot_1_281 2023-02-09        0.0       50.0
18207  n42_230209_tot_1_282 2023-02-09        0.0       50.0
18208  n42_230209_tot_1_284 2023-02-09        0.0       50.0

                       Taxa     area  areaExc  major  minor  Tow_Vol  \
8753     Daphnia<Daphniidae   5828.0   5823.0   98.0   75.7   3.5342
8755     Cyclops prealpinus   6954.0   6946.0  166.2   53.3   3.5342
8756     Cyclops prealpinus   3256.0   3251.0  103.4   40.1   3.5342
8757     Cyclops prealpinus   2849.0   2847.0   98.8   36.7   3.5342
8761     Daphnia<Daphniidae  10987.0  10764.0  168.9   82.8   3.5342
...                     ...      ...      ...    ...    ...      ...
18204  Eudiaptomus gracilis   3771.0   3771.0   87.0   55.2   3.5342
18205  Eudiaptomus gracilis   2709.0   2709.0   78.7   43.8   3.5342
18206    Cyclops prealpinus   7275.0   7271.0  164.7   56.2   3.5342
18207  Eudiaptomus gracilis   4275.0   4255.0  110.2   49.4   3.5342
18208  Eudiaptomus gracilis   4279.0   4270.0  121.3   44.9   3.5342

       pixel_size_mm          acq_id  Area_mm2  AreaExc_mm2  Major_mm  \
8753          0.0106  tot_n21_221221  0.654834     0.654272   1.03880
8755          0.0106  tot_n21_221221  0.781351     0.780453   1.76172
8756          0.0106  tot_n21_221221  0.365844     0.365282   1.09604
8757          0.0106  tot_n21_221221  0.320114     0.319889   1.04728
8761          0.0106  tot_n21_221221  1.234499     1.209443   1.79034
...              ...             ...       ...          ...       ...
18204         0.0106  tot_n42_230209  0.423710     0.423710   0.92220
18205         0.0106  tot_n42_230209  0.304383     0.304383   0.83422
18206         0.0106  tot_n42_230209  0.817419     0.816970   1.74582
18207         0.0106  tot_n42_230209  0.480339     0.478092   1.16812
18208         0.0106  tot_n42_230209  0.480788     0.479777   1.28578

       Minor_mm     V_mm3
8753    0.80242  0.350214
8755    0.56498  0.294443
8756    0.42506  0.103687
8757    0.38902  0.082986
8761    0.87768  0.722115
...         ...       ...
18204   0.58512  0.165316
18205   0.46428  0.094154
18206   0.59572  0.324401
18207   0.52364  0.167707
18208   0.47594  0.152500

[2418 rows x 17 columns]

In [50]:
grouped_data = var_data.groupby(['acq_id', 'Taxa', 'Date'])

In [51]:
species_count_data = grouped_data.agg({'Taxa': 'count', 'Tow_Vol': 'mean', 'Min_depth': 'first'}).rename(columns={'Taxa': 'Count', 'Tow_Vol': 'tv'})

In [58]:
print(species_count_data)

            acq_id                  Taxa       Date  Count      tv  Min_depth
0   tot_n21_221221    Cyclops prealpinus 2022-12-21     64  3.5342       50.0
1   tot_n21_221221    Daphnia<Daphniidae 2022-12-21     22  3.5342       50.0
2   tot_n21_221221          Eubosmina sp 2022-12-21      9  3.5342       50.0
3   tot_n21_221221  Eudiaptomus gracilis 2022-12-21     12  3.5342       50.0
4   tot_n21_221221     Leptodora kindtii 2022-12-21      1  3.5342       50.0
5   tot_n22_221221    Cyclops prealpinus 2022-12-21    154  2.1206       20.0
6   tot_n22_221221    Daphnia<Daphniidae 2022-12-21     10  2.1206       20.0
7   tot_n22_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
8   tot_n22_221221  Eudiaptomus gracilis 2022-12-21    133  2.1206       20.0
9   tot_n22_221221      nauplii<Copepoda 2022-12-21     28  2.1206       20.0
10  tot_n23_221221    Cyclops prealpinus 2022-12-21     36  1.4137        0.0
11  tot_n23_221221    Daphnia<Daphniidae 2022-12-21     28  1.4137        0.0
12  tot_n23_221221          Eubosmina sp 2022-12-21      1  1.4137        0.0
13  tot_n23_221221  Eudiaptomus gracilis 2022-12-21    160  1.4137        0.0
14  tot_n23_221221      nauplii<Copepoda 2022-12-21     40  1.4137        0.0
15  tot_n24_221221    Cyclops prealpinus 2022-12-21     33  3.5342       50.0
16  tot_n24_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
17  tot_n24_221221          Eubosmina sp 2022-12-21      4  3.5342       50.0
18  tot_n24_221221  Eudiaptomus gracilis 2022-12-21      8  3.5342       50.0
19  tot_n25_221221    Cyclops prealpinus 2022-12-21    143  2.1206       20.0
20  tot_n25_221221    Daphnia<Daphniidae 2022-12-21      2  2.1206       20.0
21  tot_n25_221221          Eubosmina sp 2022-12-21      3  2.1206       20.0
22  tot_n25_221221  Eudiaptomus gracilis 2022-12-21    127  2.1206       20.0
23  tot_n25_221221     Leptodora kindtii 2022-12-21      1  2.1206       20.0
24  tot_n25_221221      nauplii<Copepoda 2022-12-21     22  2.1206       20.0
25  tot_n26_221221    Cyclops prealpinus 2022-12-21     37  1.4137        0.0
26  tot_n26_221221    Daphnia<Daphniidae 2022-12-21     49  1.4137        0.0
27  tot_n26_221221  Eudiaptomus gracilis 2022-12-21    286  1.4137        0.0
28  tot_n26_221221      nauplii<Copepoda 2022-12-21     41  1.4137        0.0
29  tot_n27_221221    Cyclops prealpinus 2022-12-21     25  3.5342       50.0
30  tot_n27_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
31  tot_n27_221221          Eubosmina sp 2022-12-21      8  3.5342       50.0
32  tot_n27_221221  Eudiaptomus gracilis 2022-12-21     23  3.5342       50.0
33  tot_n27_221221      nauplii<Copepoda 2022-12-21      5  3.5342       50.0
34  tot_n28_221221    Cyclops prealpinus 2022-12-21    120  2.1206       20.0
35  tot_n28_221221    Daphnia<Daphniidae 2022-12-21      7  2.1206       20.0
36  tot_n28_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
37  tot_n28_221221  Eudiaptomus gracilis 2022-12-21    154  2.1206       20.0
38  tot_n28_221221      nauplii<Copepoda 2022-12-21     32  2.1206       20.0
39  tot_n29_221221    Cyclops prealpinus 2022-12-21     49  1.4137        0.0
40  tot_n29_221221    Daphnia<Daphniidae 2022-12-21     16  1.4137        0.0
41  tot_n29_221221          Eubosmina sp 2022-12-21      2  1.4137        0.0
42  tot_n29_221221  Eudiaptomus gracilis 2022-12-21    265  1.4137        0.0
43  tot_n29_221221      nauplii<Copepoda 2022-12-21     31  1.4137        0.0
44  tot_n42_230209    Cyclops prealpinus 2023-02-09     63  3.5342        0.0
45  tot_n42_230209    Daphnia<Daphniidae 2023-02-09      1  3.5342        0.0
46  tot_n42_230209  Eudiaptomus gracilis 2023-02-09    129  3.5342        0.0
47  tot_n42_230209      nauplii<Copepoda 2023-02-09     10  3.5342        0.0

In [52]:
species_count_data = species_count_data.reset_index()

In [54]:
var_data['Min_depth'] = var_data['Min_depth'].astype(int)

In [60]:
# Group species_count_data by Date and Min_depth
grouped_data = species_count_data.groupby(['Date', 'Min_depth'])

# Calculate the variance of the Count column within each group
count_var = grouped_data['Count'].var().reset_index().rename(columns={'Count': 'Count_var'})

# Merge species_count_data and count_var dataframes
merged_data = pd.merge(species_count_data, count_var, on=['Date', 'Min_depth'])

# Print the merged dataframe
print(merged_data)

            acq_id                  Taxa       Date  Count      tv  Min_depth  \
0   tot_n21_221221    Cyclops prealpinus 2022-12-21     64  3.5342       50.0
1   tot_n21_221221    Daphnia<Daphniidae 2022-12-21     22  3.5342       50.0
2   tot_n21_221221          Eubosmina sp 2022-12-21      9  3.5342       50.0
3   tot_n21_221221  Eudiaptomus gracilis 2022-12-21     12  3.5342       50.0
4   tot_n21_221221     Leptodora kindtii 2022-12-21      1  3.5342       50.0
5   tot_n24_221221    Cyclops prealpinus 2022-12-21     33  3.5342       50.0
6   tot_n24_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
7   tot_n24_221221          Eubosmina sp 2022-12-21      4  3.5342       50.0
8   tot_n24_221221  Eudiaptomus gracilis 2022-12-21      8  3.5342       50.0
9   tot_n27_221221    Cyclops prealpinus 2022-12-21     25  3.5342       50.0
10  tot_n27_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
11  tot_n27_221221          Eubosmina sp 2022-12-21      8  3.5342       50.0
12  tot_n27_221221  Eudiaptomus gracilis 2022-12-21     23  3.5342       50.0
13  tot_n27_221221      nauplii<Copepoda 2022-12-21      5  3.5342       50.0
14  tot_n22_221221    Cyclops prealpinus 2022-12-21    154  2.1206       20.0
15  tot_n22_221221    Daphnia<Daphniidae 2022-12-21     10  2.1206       20.0
16  tot_n22_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
17  tot_n22_221221  Eudiaptomus gracilis 2022-12-21    133  2.1206       20.0
18  tot_n22_221221      nauplii<Copepoda 2022-12-21     28  2.1206       20.0
19  tot_n25_221221    Cyclops prealpinus 2022-12-21    143  2.1206       20.0
20  tot_n25_221221    Daphnia<Daphniidae 2022-12-21      2  2.1206       20.0
21  tot_n25_221221          Eubosmina sp 2022-12-21      3  2.1206       20.0
22  tot_n25_221221  Eudiaptomus gracilis 2022-12-21    127  2.1206       20.0
23  tot_n25_221221     Leptodora kindtii 2022-12-21      1  2.1206       20.0
24  tot_n25_221221      nauplii<Copepoda 2022-12-21     22  2.1206       20.0
25  tot_n28_221221    Cyclops prealpinus 2022-12-21    120  2.1206       20.0
26  tot_n28_221221    Daphnia<Daphniidae 2022-12-21      7  2.1206       20.0
27  tot_n28_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
28  tot_n28_221221  Eudiaptomus gracilis 2022-12-21    154  2.1206       20.0
29  tot_n28_221221      nauplii<Copepoda 2022-12-21     32  2.1206       20.0
30  tot_n23_221221    Cyclops prealpinus 2022-12-21     36  1.4137        0.0
31  tot_n23_221221    Daphnia<Daphniidae 2022-12-21     28  1.4137        0.0
32  tot_n23_221221          Eubosmina sp 2022-12-21      1  1.4137        0.0
33  tot_n23_221221  Eudiaptomus gracilis 2022-12-21    160  1.4137        0.0
34  tot_n23_221221      nauplii<Copepoda 2022-12-21     40  1.4137        0.0
35  tot_n26_221221    Cyclops prealpinus 2022-12-21     37  1.4137        0.0
36  tot_n26_221221    Daphnia<Daphniidae 2022-12-21     49  1.4137        0.0
37  tot_n26_221221  Eudiaptomus gracilis 2022-12-21    286  1.4137        0.0
38  tot_n26_221221      nauplii<Copepoda 2022-12-21     41  1.4137        0.0
39  tot_n29_221221    Cyclops prealpinus 2022-12-21     49  1.4137        0.0
40  tot_n29_221221    Daphnia<Daphniidae 2022-12-21     16  1.4137        0.0
41  tot_n29_221221          Eubosmina sp 2022-12-21      2  1.4137        0.0
42  tot_n29_221221  Eudiaptomus gracilis 2022-12-21    265  1.4137        0.0
43  tot_n29_221221      nauplii<Copepoda 2022-12-21     31  1.4137        0.0
44  tot_n42_230209    Cyclops prealpinus 2023-02-09     63  3.5342        0.0
45  tot_n42_230209    Daphnia<Daphniidae 2023-02-09      1  3.5342        0.0
46  tot_n42_230209  Eudiaptomus gracilis 2023-02-09    129  3.5342        0.0
47  tot_n42_230209      nauplii<Copepoda 2023-02-09     10  3.5342        0.0

      Count_var
0    277.142857
1    277.142857
2    277.142857
3    277.142857
4    277.142857
5    277.142857
6    277.142857
7    277.142857
8    277.142857
9    277.142857
10   277.142857
11   277.142857
12   277.142857
13   277.142857
14  4178.116667
15  4178.116667
16  4178.116667
17  4178.116667
18  4178.116667
19  4178.116667
20  4178.116667
21  4178.116667
22  4178.116667
23  4178.116667
24  4178.116667
25  4178.116667
26  4178.116667
27  4178.116667
28  4178.116667
29  4178.116667
30  8689.939560
31  8689.939560
32  8689.939560
33  8689.939560
34  8689.939560
35  8689.939560
36  8689.939560
37  8689.939560
38  8689.939560
39  8689.939560
40  8689.939560
41  8689.939560
42  8689.939560
43  8689.939560
44  3469.583333
45  3469.583333
46  3469.583333
47  3469.583333

In [55]:
# Group var_data by Date and Min_depth
grouped_var = var_data.groupby(['Date', 'Min_depth'])

# Calculate the variance of the Count column within each group
count_var = grouped_var['Taxa'].count().groupby(['Date', 'Min_depth']).var().reset_index().rename(columns={'Taxa': 'Count_var'})

# Merge species_count_data and count_var dataframes
merged_data = pd.merge(species_count_data, count_var, on=['Date', 'Min_depth'])

# Print the merged dataframe
print(merged_data)

            acq_id                  Taxa       Date  Count      tv  Min_depth  \
0   tot_n21_221221    Cyclops prealpinus 2022-12-21     64  3.5342       50.0
1   tot_n21_221221    Daphnia<Daphniidae 2022-12-21     22  3.5342       50.0
2   tot_n21_221221          Eubosmina sp 2022-12-21      9  3.5342       50.0
3   tot_n21_221221  Eudiaptomus gracilis 2022-12-21     12  3.5342       50.0
4   tot_n21_221221     Leptodora kindtii 2022-12-21      1  3.5342       50.0
5   tot_n24_221221    Cyclops prealpinus 2022-12-21     33  3.5342       50.0
6   tot_n24_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
7   tot_n24_221221          Eubosmina sp 2022-12-21      4  3.5342       50.0
8   tot_n24_221221  Eudiaptomus gracilis 2022-12-21      8  3.5342       50.0
9   tot_n27_221221    Cyclops prealpinus 2022-12-21     25  3.5342       50.0
10  tot_n27_221221    Daphnia<Daphniidae 2022-12-21      7  3.5342       50.0
11  tot_n27_221221          Eubosmina sp 2022-12-21      8  3.5342       50.0
12  tot_n27_221221  Eudiaptomus gracilis 2022-12-21     23  3.5342       50.0
13  tot_n27_221221      nauplii<Copepoda 2022-12-21      5  3.5342       50.0
14  tot_n22_221221    Cyclops prealpinus 2022-12-21    154  2.1206       20.0
15  tot_n22_221221    Daphnia<Daphniidae 2022-12-21     10  2.1206       20.0
16  tot_n22_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
17  tot_n22_221221  Eudiaptomus gracilis 2022-12-21    133  2.1206       20.0
18  tot_n22_221221      nauplii<Copepoda 2022-12-21     28  2.1206       20.0
19  tot_n25_221221    Cyclops prealpinus 2022-12-21    143  2.1206       20.0
20  tot_n25_221221    Daphnia<Daphniidae 2022-12-21      2  2.1206       20.0
21  tot_n25_221221          Eubosmina sp 2022-12-21      3  2.1206       20.0
22  tot_n25_221221  Eudiaptomus gracilis 2022-12-21    127  2.1206       20.0
23  tot_n25_221221     Leptodora kindtii 2022-12-21      1  2.1206       20.0
24  tot_n25_221221      nauplii<Copepoda 2022-12-21     22  2.1206       20.0
25  tot_n28_221221    Cyclops prealpinus 2022-12-21    120  2.1206       20.0
26  tot_n28_221221    Daphnia<Daphniidae 2022-12-21      7  2.1206       20.0
27  tot_n28_221221          Eubosmina sp 2022-12-21      5  2.1206       20.0
28  tot_n28_221221  Eudiaptomus gracilis 2022-12-21    154  2.1206       20.0
29  tot_n28_221221      nauplii<Copepoda 2022-12-21     32  2.1206       20.0
30  tot_n23_221221    Cyclops prealpinus 2022-12-21     36  1.4137        0.0
31  tot_n23_221221    Daphnia<Daphniidae 2022-12-21     28  1.4137        0.0
32  tot_n23_221221          Eubosmina sp 2022-12-21      1  1.4137        0.0
33  tot_n23_221221  Eudiaptomus gracilis 2022-12-21    160  1.4137        0.0
34  tot_n23_221221      nauplii<Copepoda 2022-12-21     40  1.4137        0.0
35  tot_n26_221221    Cyclops prealpinus 2022-12-21     37  1.4137        0.0
36  tot_n26_221221    Daphnia<Daphniidae 2022-12-21     49  1.4137        0.0
37  tot_n26_221221  Eudiaptomus gracilis 2022-12-21    286  1.4137        0.0
38  tot_n26_221221      nauplii<Copepoda 2022-12-21     41  1.4137        0.0
39  tot_n29_221221    Cyclops prealpinus 2022-12-21     49  1.4137        0.0
40  tot_n29_221221    Daphnia<Daphniidae 2022-12-21     16  1.4137        0.0
41  tot_n29_221221          Eubosmina sp 2022-12-21      2  1.4137        0.0
42  tot_n29_221221  Eudiaptomus gracilis 2022-12-21    265  1.4137        0.0
43  tot_n29_221221      nauplii<Copepoda 2022-12-21     31  1.4137        0.0
44  tot_n42_230209    Cyclops prealpinus 2023-02-09     63  3.5342        0.0
45  tot_n42_230209    Daphnia<Daphniidae 2023-02-09      1  3.5342        0.0
46  tot_n42_230209  Eudiaptomus gracilis 2023-02-09    129  3.5342        0.0
47  tot_n42_230209      nauplii<Copepoda 2023-02-09     10  3.5342        0.0

    Count_var
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
30        NaN
31        NaN
32        NaN
33        NaN
34        NaN
35        NaN
36        NaN
37        NaN
38        NaN
39        NaN
40        NaN
41        NaN
42        NaN
43        NaN
44        NaN
45        NaN
46        NaN
47        NaN

In [40]:
# Group the species_count_data dataframe by date and depth
grouped_counts = species_count_data.groupby(['Date', 'Min_depth'])

# Calculate the variance of the Count column within each group
count_var = grouped_counts['Count'].var()

KeyError: ignored

In [37]:
print (species_count_data)

                                                Count      tv
acq_id         Taxa                 Date
tot_n21_221221 Cyclops prealpinus   2022-12-21     64  3.5342
               Daphnia<Daphniidae   2022-12-21     22  3.5342
               Eubosmina sp         2022-12-21      9  3.5342
               Eudiaptomus gracilis 2022-12-21     12  3.5342
               Leptodora kindtii    2022-12-21      1  3.5342
tot_n22_221221 Cyclops prealpinus   2022-12-21    154  2.1206
               Daphnia<Daphniidae   2022-12-21     10  2.1206
               Eubosmina sp         2022-12-21      5  2.1206
               Eudiaptomus gracilis 2022-12-21    133  2.1206
               nauplii<Copepoda     2022-12-21     28  2.1206
tot_n23_221221 Cyclops prealpinus   2022-12-21     36  1.4137
               Daphnia<Daphniidae   2022-12-21     28  1.4137
               Eubosmina sp         2022-12-21      1  1.4137
               Eudiaptomus gracilis 2022-12-21    160  1.4137
               nauplii<Copepoda     2022-12-21     40  1.4137
tot_n24_221221 Cyclops prealpinus   2022-12-21     33  3.5342
               Daphnia<Daphniidae   2022-12-21      7  3.5342
               Eubosmina sp         2022-12-21      4  3.5342
               Eudiaptomus gracilis 2022-12-21      8  3.5342
tot_n25_221221 Cyclops prealpinus   2022-12-21    143  2.1206
               Daphnia<Daphniidae   2022-12-21      2  2.1206
               Eubosmina sp         2022-12-21      3  2.1206
               Eudiaptomus gracilis 2022-12-21    127  2.1206
               Leptodora kindtii    2022-12-21      1  2.1206
               nauplii<Copepoda     2022-12-21     22  2.1206
tot_n26_221221 Cyclops prealpinus   2022-12-21     37  1.4137
               Daphnia<Daphniidae   2022-12-21     49  1.4137
               Eudiaptomus gracilis 2022-12-21    286  1.4137
               nauplii<Copepoda     2022-12-21     41  1.4137
tot_n27_221221 Cyclops prealpinus   2022-12-21     25  3.5342
               Daphnia<Daphniidae   2022-12-21      7  3.5342
               Eubosmina sp         2022-12-21      8  3.5342
               Eudiaptomus gracilis 2022-12-21     23  3.5342
               nauplii<Copepoda     2022-12-21      5  3.5342
tot_n28_221221 Cyclops prealpinus   2022-12-21    120  2.1206
               Daphnia<Daphniidae   2022-12-21      7  2.1206
               Eubosmina sp         2022-12-21      5  2.1206
               Eudiaptomus gracilis 2022-12-21    154  2.1206
               nauplii<Copepoda     2022-12-21     32  2.1206
tot_n29_221221 Cyclops prealpinus   2022-12-21     49  1.4137
               Daphnia<Daphniidae   2022-12-21     16  1.4137
               Eubosmina sp         2022-12-21      2  1.4137
               Eudiaptomus gracilis 2022-12-21    265  1.4137
               nauplii<Copepoda     2022-12-21     31  1.4137
tot_n42_230209 Cyclops prealpinus   2023-02-09     63  3.5342
               Daphnia<Daphniidae   2023-02-09      1  3.5342
               Eudiaptomus gracilis 2023-02-09    129  3.5342
               nauplii<Copepoda     2023-02-09     10  3.5342

In [29]:
concentration_data = species_count_data.copy()
concentration_data['Concentration'] = concentration_data['Count'] / concentration_data['tv']
concentration_data.reset_index(inplace=True)

In [38]:
variation_data = pd.merge(concentration_data, grouped_data[['acq_id', 'Min_depth']], on='acq_id')

TypeError: ignored

In [36]:
print(variation_data)

               acq_id                Taxa       Date  Count      tv  \
0      tot_n21_221221  Cyclops prealpinus 2022-12-21     64  3.5342
1      tot_n21_221221  Cyclops prealpinus 2022-12-21     64  3.5342
2      tot_n21_221221  Cyclops prealpinus 2022-12-21     64  3.5342
3      tot_n21_221221  Cyclops prealpinus 2022-12-21     64  3.5342
4      tot_n21_221221  Cyclops prealpinus 2022-12-21     64  3.5342
...               ...                 ...        ...    ...     ...
11715  tot_n42_230209    nauplii<Copepoda 2023-02-09     10  3.5342
11716  tot_n42_230209    nauplii<Copepoda 2023-02-09     10  3.5342
11717  tot_n42_230209    nauplii<Copepoda 2023-02-09     10  3.5342
11718  tot_n42_230209    nauplii<Copepoda 2023-02-09     10  3.5342
11719  tot_n42_230209    nauplii<Copepoda 2023-02-09     10  3.5342

       Concentration  Min_depth
0          18.108766       50.0
1          18.108766       50.0
2          18.108766       50.0
3          18.108766       50.0
4          18.108766       50.0
...              ...        ...
11715       2.829495        0.0
11716       2.829495        0.0
11717       2.829495        0.0
11718       2.829495        0.0
11719       2.829495        0.0

[11720 rows x 7 columns]